html,
body {
  margin: 0;
  font-size: 62.5%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.link-group {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background: white;

  .link {
    display: block;
    padding: 1.5rem;
    color: #5372ff;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    border: 3px solid #5372ff;
    border-radius: 5rem;
  }

  .link:hover {
    color: white;
    background-color: #5372ff;
  }
}
